syntax: glob
Debug/*
Test/*
ipch/*
Release/*
Test*/*
x64*/*
*.csv
*.vcxproj.user
*.edge
*.ele
*.neigh
*.node
*.poly
*.vtk
*.log
*.xml
*.opensdf
*.sdf
*.suo
*.kdev4
/.kdev4
/build
/run
.idea/
/cmake-build-*
~debug
~tmp
~run
/contrib/metis-5.1.0/build/
contrib/metis-5.1.0/local/
